.footer__column-link {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: white;
  font-size: 18px;
  line-height: 30px;
  position: relative;
  width: fit-content;
}

.footer__column-link::after {
  content: '';
  position: absolute;
  height: 25px;
  left: 0;
  top: 0;
  width: 0;
  border-bottom: solid 2px white;
  transition: width .5s linear;
}

.footer__column-link:hover::after {
  width: 100%;
}

